:root {
  --davys-gray: #494947ff;
  --spring-green: #35ff69ff;
  --vivid-sky-blue: #44ccffff;
  --cornflower-blue: #7494eaff;
  --steel-pink: #d138bfff;
}

body {
  background-color: var(--davys-gray); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#game-container {
  width: 500px;
  height: 500px;
  display: grid;
  padding: 40px;
  gap: 10px;
  background-color: #919189ff;
  border-radius: 40px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

.dot {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
