:root {
  --davys-gray: #494947ff;
  --spring-green: #35ff69ff;
  --vivid-sky-blue: rgb(13, 83, 109);
  --cornflower-blue: #7494eaff;
  --steel-pink: #d138bfff;
  --dracula-bg: #44475a;
  --dwhite: #282a36;
  --red: #ff5555;
  --blue: #8be9fd;
  --yellow: #f1fa8c;
  --orange: #db7239;
}

body {
  background-color: var(--dracula-bg); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  cursor: none;
}

h1 {
  color: white;
  font-size: 3rem;
  margin: 10;
  font-family: 'Source Code Pro', monospace;
}

h4 {
  color: white;
  font-size: 1rem;
  margin: 10;
  font-family: 'Source Code Pro', monospace;
}

.title-screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
}

#game-container {
  width: fit-content;
  height: fit-content;
  display: none;
  padding: 40px;
  gap: 10px;
  background-color: var(--dwhite);
  border-radius: 40px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

.round {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: none;
}

.dot {
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.button {
  background-color: var(--cornflower-blue);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #3e5eb5;
  transition: background-color 0.25s;
  cursor: none;
}

.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 9999999999999999;
}

.circle {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #fff;
}

#continue-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

