:root {
  --davys-gray: #494947ff;
  --spring-green: #35ff69ff;
  --vivid-sky-blue: #44ccffff;
  --cornflower-blue: #7494eaff;
  --steel-pink: #d138bfff;
}

body {
  background-color: #919189ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game-container {
    display: grid;
    background-color: var(--);
    grid-template-columns: repeat(5, 50px); /* Adjust based on your grid size */
    grid-template-rows: repeat(5, 50px); /* Adjust based on your grid size */
    gap: 5px;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}
